/*Estilos da minha pagina web*/

/*Seletor universal*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #04233f;
}

/*-------------------*/
/* geral */

.text-center {
  text-align: center;
}

.margin-top-40 {
  margin-top: 40px;
}

/*-------------------*/

.container-cabecalho {
  text-align: center;
  padding: 20px;
  background-color: #04233f;
}

.container-cabecalho h3 {
  font-weight: 600;
  font-size: 2em;
  color: #1190ff;
}

/*-------------------*/

.container-nav {
  text-align: center;
  padding: 20px;
  background-color: rgb(8, 73, 129);
}

.container-nav a {
  font-size: 1.5em;
  margin: 0px 50px;
  text-decoration: none;
  color: rgb(69, 152, 247);
}

.container-nav a:hover {
  color: white;
}

/*---------------------*/
/*Quem somos*/

.container-qs {
  text-align: center;
  padding: 50px;
  background-color: rgb(6, 40, 70);
  margin: 60px auto;
  color: rgb(99, 172, 255);
  overflow: auto;
  border-radius: 8px;
  width: 50%;
  font-family: "Courier New", Courier, monospace;
}

.container-qs span {
  color: white;
  font-weight: bold;
}

.container-qs .icone {
  margin-bottom: 10px;
}

/*----------------------*/

.container-info {
  text-align: center;
  padding: 80px;
  background-color: rgb(8, 73, 129);
}

.container-info .botoes-container-info {
  padding: 60px;
  text-align: center;
}

.botoes-container-info a {
  display: block;
  max-width: 200px;
  text-decoration: none;
  background-color: #1190ff;
  color: white;
  padding: 20px 60px;
  margin: 10px auto;
  border-radius: 8px;
}

.botoes-container-info a:hover {
  background-color: white;
  color: black;
}

/*-----------------------*/

footer {
  text-align: center;
  padding: 80px;
  background-color: #04233f;
  color: gray;
}
