<!DOCTYPE html>
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header'); %>
    <main>
        <div class="jumbotron">
            <h1>Biography</h1>
            <p>I'm Stephanie Cardoso Guimarães a control and automation engineering student at the University of Brasilia</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>